extends ../layouts/demo.pug

block head
  link(rel="stylesheet" href="css/demo.css")

block preload
//-   link(rel="preload" href="/path/to/resource.css" as="style")
//-   link(rel="preload" href="/path/to/resource.js" as="script")

block content
  include ../sections/demo/demo-typography.pug


block scripts
//- Additional js files

