extends ../layouts/default.pug

block head
//- Additional css or js files

block preload
//-   link(rel="preload" href="/path/to/resource.css" as="style")
//-   link(rel="preload" href="/path/to/resource.js" as="script")

block content
  h2 Welcome to the Home Page
  p This is the content of the home page.

block scripts
//- Additional js files

