/*
    Goal: Define basic styles for elements.
    Content: Styles for links, buttons, tables, lists and other elements.
*/

@include font-face(Roboto, "./assets/Roboto", normal, normal);

// ** Container
.container {
    max-width: $container-width;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
  }


// ** Global Styles
html, body {
    // @include font-size(12px, 18, 1.2);
    font-family: $base-font-family; 
    $text-color: $text-color;
    margin: 0; 
    padding: 0; 
}

// ** Links
a {
    text-decoration: none;
    color: $secondary-color; 
    
    &:hover,
    &:focus {
      color: $secondary-color;
    }
  }

 // ** Buttons
 button {
    // @include font-size(12px, 18, 1.2);
    background-color: $primary-color;
    border-radius: $border-radius;
    color: #fff;
    border: none;
    padding: 0.5em 1em; 
    cursor: pointer; 
    
    &:hover,
    &:focus {
      background-color: $secondary-color;
    }
    
    &:disabled {
      background-color: $secondary-color;
      cursor: not-allowed;
    }
  }

// ** Form elements
input,
textarea,
select {
  font-family: inherit;
  // @include font-size(12px, 18, 1.2);
  padding: 0.5em;
  border: $border-width solid $border-color;
  border-radius: $border-radius; 
  
  &:focus {
    border-color: $primary-color;
    outline: none;
  }
}