/*
    Goal: Defining styles for texts and typography.
    Contents: Fonts, font sizes, line spacing, heading and paragraph styles.
*/

// ** Font Family **
body {
    font-family: 'Helvetica Neue', Arial, sans-serif; // Default font family
  }
  
  // ** Font Sizes **
  h1 {
    @include font-size(52px, 58, 1.2);
  }
  
  h2 {
    @include font-size(42px, 48, 1.2);
  }
  
  h3 {
    @include font-size(32px, 38, 1.2);
  }
  
  h4 {
    @include font-size(22px, 28, 1.2);
  }
  
  h5 {
    @include font-size(12px, 18, 1.2);
  }
  
  h6 {
    @include font-size(10px, 8, 1.2);
  }
  
  // ** Paragraphs **
  p {
    @include font-size(16px, 18, 1.2);
    margin: 0 0 20px 0;
  }
  
  // ** Blockquotes **
  blockquote {
    @include font-size(20px, 22, 1.2);
    margin: 0 0 20px 0;
    padding: 0.5em 1em;
    border-left: $border-width solid $border-color;
    background-color: $background-color;
  }
  
  // ** Lists **
  ul, ol {
    margin: 20px 0;
    padding: 0 0 0 10px; // Indentation for list items
  }
  
  ul {
    list-style-type: disc; // Bulleted list style
  }
  
  ol {
    list-style-type: decimal; // Numbered list style
  }
  
  strong {
    font-weight: bold; // Bold text
  }
  
  // ** Inline Code and Code Blocks **
  code {
    font-family: 'Courier New', monospace; // Monospaced font for code
    background-color: $background-color; // Light background for code
    padding: 0.2em 0.4em; // Padding for readability
    border-radius: $border-radius // Rounded corners
  }
  
  pre {
    font-family: 'Courier New', monospace; // Monospaced font for code blocks
    background-color: $background-color; // Light background for code blocks
    padding: 1em; // Padding for readability
    border-radius: $border-radius; // Rounded corners
    overflow-x: auto; // Horizontal scroll for overflow
    white-space: pre-wrap; // Preserve whitespace
  }