section#colors.items
    .container
        section
            h4.demo-title Path to file - <code> app\scss\abstracts\_variables.scss</code>
            h5.demo-title Text
            .items__item.colors.title
                div
                    span text/
                div
                    span Sample
                div
                    span Description

            .items__item.colors.text-primary
                div
                    span Primary
                div
                    .example
                div
                    span For use:  <code>$text-color</code>

            .items__item.colors.text-secondary
                div
                    span Primary
                div
                    .example
                div
                    span For use:  <code>$text-secondary</code>
            
            .items__item.colors.text-disabled
                div
                    span Disabled
                div
                    .example
                div
                    span For use:  <code>$text-disabled</code>

        section 
            h5.demo-title Main 
            .items__item.colors.title
                div
                    span primary/
                div
                    span Sample
                div
                    span Description

            .items__item.colors.main-primary
                div
                    span Main
                div
                    .example
                div
                    span For use: <code>$primary-color</code>                 
            
            .items__item.colors.main-secondary
                div
                    span Secondary
                div
                    .example
                div
                    span For use: <code>$secondary-color</code>                 
            
            .items__item.colors.main-background
                div
                    span Background
                div
                    .example
                div
                    span For use: <code>$background-color</code>                 
            
            .items__item.colors.main-border
                div
                    span Border
                div
                    .example
                div
                    span For use: <code>$border-color</code>

        section
            h5.demo-title Input
            .items__item.colors.title
                div
                    span input/
                div
                    span Sample
                div
                    span Description

            .items__item.colors.input-background
                div
                    span Background
                div
                    .example
                div
                    span For use: <code>$input-background</code>        
            
            .items__item.colors.input-label
                div
                    span Label
                div
                    .example
                div
                    span For use: <code>$input-label</code>        
            
