.items
    .container
        section
            h4 Path to file - <code> app\scss\base\_typography.scss</code>
            .items__item.typography.title
                div
                    span Style name
                div
                    span Font size
                div
                    span Sample

            .items__item.typography
                div
                    h1 h1
                div
                    span 96px
                div
                    h1 Typography

            .items__item.typography
                div
                    h2 h2
                div
                    span 60px
                div
                    h2 Typography

            .items__item.typography
                div
                    h3 h3
                div
                    span 48px
                div
                    h3 Typography

            .items__item.typography
                div
                    h4 h4
                div
                    span 34px
                div
                    h4 Typography

            .items__item.typography
                div
                    h5 h5
                div
                    span 24px
                div
                    h5 Typography

            .items__item.typography
                div
                    h6 h6
                div
                    span 20px
                div
                    h6 Typography

            .items__item.typography
                div
                    strong strong
                div
                    span 16px
                div
                    strong Typography                                                                                                         

            .items__item.typography
                div
                    p p
                div
                    span 16px
                div
                    p Lorem ipsum dolor sit amet consectetur 
                        | adipisicing elit. Nesciunt, repudiandae deleniti 
                        | doloremque quos soluta ipsam ut exercitationem 
                        | aperiam, cum blanditiis vel in dolor aut cumque 
                        | molestiae! Dicta earum ut similique. 

            .items__item.typography
                div
                    code code
                div
                    span 16px
                div
                    code Typography

            .items__item.typography
                div
                    pre pre
                div
                    span 16px
                div
                    pre /* Here will block code */                                                                                                                     