section#maps.items
    .container
        section
            h4.demo-title Path to files - <pre> app\pug\components\_maps.scss <br> app\components\maps.pug <br> app\js\map\config.js</pre>

            +leafletMap('test-map')