header
  .header-container.container
    .header-logo
      a(href="#")
        +svgIcon('accelerate', 35, 35) 
        
      // PHP code to display the site name using bloginfo('name');

    +mainNavigation('header-navigation', [
      {link:'#typography', title: "Typography"},
      {link:'#colors', title: "Colors"},
      {link:'#inputs', title: "Inputs"},
      {link:'#buttons', title: "Buttons"},
    ])

    .header-cta
      +linkButton('Order Now', '#', 'Title', 'link-button')