/* 
    Goal: Identify mixins that can be reused for specific styles.
    Contents: Mixins for media queries, Flexbox, Grid, animations, etc.
*/

// ** Box
@mixin box($width, $height: $width) {
    width: $width;
    height: $height;
}

/* 
    ===== Usage =====
    div {
        @include box(200px, 300px);
        @include box(200px);
    }
*/

// ** Flexbox Toolkit
  @mixin flex-column {
    display: flex;
    flex-direction: column;
  }
  
  @mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @mixin flex-center-column {
    @include flex-center;
    flex-direction: column;
  }
  
  @mixin flex-center-vert {
    display: flex;
    align-items: center;
  }
  
  @mixin flex-center-horiz {
    display: flex;
    justify-content: center;
  }

  /*
    ===== Usage =====
    .vertical-centered-element {
        @include flex-center-vert;
    }

    .horizontally-centered-element {
        flex-direction: column;
        @include flex-center-vert;
    }
  */

// !! Need test 
// ** Pixel to REM Function
@function rem($pixels, $base: 16px) {
    @return $pixels / $base * 1rem;
  }
  
  // ** Font Size Mixin
  @mixin font-size($font-size-px, $line-height: normal, $letter-spacing: normal, $base: 16px) {
    // Convert font size from pixels to rem
    $font-size-rem: rem($font-size-px, $base);
    
    font-size: $font-size-rem;
  
    // Handle line-height
    @if $line-height == normal {
      line-height: normal;
    } @else {
      // Calculate line-height as a unitless value if it's not normal
      line-height: $line-height / $font-size-px;
    }
  
    // Handle letter-spacing
    @if $letter-spacing == normal {
      letter-spacing: normal;
    } @else {
      // Convert letter-spacing from pixels to ems
      letter-spacing: rem($letter-spacing, $base) / $font-size-px;
    }
  }

  /*
  ===== Usage =====
  p {
    @include font-size(12px, 18, 1.2);
    // returns
    font-size: 0.75rem; // 12px / 16px * 1rem
    line-height: 1.5;   // 18 / 12
    letter-spacing: 0.1em; // 1.2 / 12px
  }
*/

// ** Font Face
@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
    @font-face {
      font-family: quote($font-name);
      src: url($path+".eot");
      src: url($path+".eot?#iefix") format("embedded-opentype"), url($path+".woff")
          format("woff"), url($path+".ttf") format("truetype"), url($path+".svg##{$font-name}")
          format("svg");
      font-weight: $weight;
      font-style: $style;
    }
}

/* 
    ===== Usage ===== 
    @include font-face(Roboto, "./assets/Roboto", normal, normal);
*/

// ** Media queries
@mixin tablet {
    @media only screen and (min-width: $tablet) {
      @content;
    }
}

@mixin large {
    @media only screen and (min-width: $large) {
      @content;
    }
}
  
@mixin desktop {
    @media only screen and (min-width: $desktop) {
      @content;
    }
}

/*
    ===== Usage =====
    h1 {
        font-size: 10px;

        @include tablet {
            font-size: 12px;
        }

        @include desktop {
            font-size: 20px;
        }
    }
*/